:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --start-gold-color: #ffce3e;

  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin-top: -17px;
}

.btn {
  min-width: 124px;
  width: 147px;
  height: 42px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 0 26px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
}

.btn--primary {
  background-color: var(--black-color);
  color: var(--white-color);
}